.content {
    height: 100vh;
}

.children {
    background: #fff;
    margin-top: 32px;
    padding: 16px 32px;
}

.footer {
    background: #fff;
    text-align: center;
}

.layout {
    background: #fff;
}

@media (min-width: 568px) {
    .content {
        margin: 16px 32px;
    }

    .children {
        padding: 0;
    }
}
