.content {
    height: 85vh;
}

.children {
    background: #fff;
}

.layout {
    background: #fff;
}

@media (min-width: 568px) {
    .content {
        margin: 25px 35px;
    }

    .children {
        padding: 0;
    }
}

@media (max-width: 650px) {
    .content {
        margin: 25px 35px;
    }
}
