.authButton {
    width: 100%;
}

.menuItem {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 130px !important;
}

.sider {
    width: 150px;
    z-index: 900;
}

.sider ul {
    margin-left: 8px;
    border-right: none;
    height: 100%;
}

.themeToggleText {
    margin-right: 16px;
}

@media (min-width: 568px) {
    .mobileOnly {
        display: none;
    }
}
