.authButton {
    width: 100%;
}

.menuItem {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 130px !important;
}

.serviceSelector {
    display: flex;
    justify-content: center;
    width: 130px !important;
    padding: 20px 16px 0px 16px;
}

.sider {
    width: 150px;
    z-index: 900;
}

.sider ul {
    margin-left: 8px;
    border-right: none;
    height: 100%;
}

@media (min-width: 568px) {
    .mobileOnly {
        display: none;
    }
}

@media (max-width: 650px) {
    .sider {
        position: fixed;
        height: 100vh;
    }

    .sider ul {
        margin: 0;
        padding-left: 8px;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
    }
}
