.deleting {
    opacity: 0.5;
}

.editableContainer {
    border: 1px solid transparent;
    position: relative;
}

.editableContainer:hover .triggerBox {
    opacity: 1;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2));
}

.editableContainer:hover .hoverOverlay {
    opacity: 1;
    transition: ease-in 0.3s;
}

.editableContainer.editing .triggerBox {
    display: block;
    opacity: 1;
    filter: none;
}

.editableContainer img {
    border-radius: 6px;
    margin: 0;
    width: 100%;
}

/* light background highlight around the image */
.editableContainer.editing {
    background: #e8f0fe;
    border-radius: 6px;
}

.editableContainer.editing img {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.editableContainer.editing .hoverOverlay {
    opacity: 0;
}

/* Lightly opaque overlay to make the edit button more visible */
.hoverOverlay {
    top: 0;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.26), transparent 56px, transparent);
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 0.135s cubic-bezier(0, 0, 0.2, 1);
    width: 100%;
    z-index: -999;
}

.spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.thumbnailLoading {
    opacity: 0.2;
    transition: ease-in 0.2s;
}
.thumbnailLoading .checkbox {
    display: none;
}

.imageContainer {
    cursor: pointer;
    transition: transform 0.135s cubic-bezier(0, 0, 0.2, 1);
}

.img {
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    height: 220px;
}

.lightBox {
    z-index: 2;
}

.scaleDown {
    transform: translateZ(0px) scale3d(0.82, 0.82, 1);
}

.triggerBox,
.triggerBox:focus,
.triggerBox:active {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    height: 50px;
    opacity: 0;
    outline: none;
    padding-left: 8px;
    position: absolute;
    text-align: left;
    width: 100px;
    z-index: 2;
}

.triggerBox:hover {
    background: none;
    border: none;
    color: #40a9ff;
}

.triggerBox[aria-checked='true'] {
    color: #40a9ff;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2));
}
