@media (max-width: 650px) {
    .hideMobile,
    .navItem .hideMobile {
        display: none !important;
    }

    .moreButton {
        border: none !important;
        box-shadow: none !important;
    }
}
