.avatar {
    background: #1890ff;
}

.header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 35px;
    width: 100%;
    z-index: 100;
}
/** old title */
.headerTitle {
    color: #5f6368;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* text-transform: capitalize; */
    font-size: 24px;
    width: 100%;
}

.headerBtn {
    margin-left: 5px;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav > .navItem {
    margin-left: 16px;
}

.navDropdown {
    min-width: 110px;
}

.navDropdown i {
    margin-right: 8px;
    margin-left: 8px;
}

.navItem {
    display: flex;
}

.menu {
    line-height: 64px;
}

.userName {
    margin-left: 8px;
}

.tag {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0;
    min-width: 32px;
}

.headerInfo {
    align-items: baseline;
    display: flex;
    width: 100%;
}

.headerInfo .title {
    font-size: 24px;
    margin-right: 15px;
    color: #242424;
    font-weight: 500;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.headerInfo .subTitle {
    font-size: 16px;
    color: #636363;
    padding-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 650px) {
    .hideMobile,
    .navItem .hideMobile {
        display: none !important;
    }
    /** old title */
    .headerTitle {
        width: 500px;
        font-size: 20px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .headerInfo .title {
        margin-right: 7px;
        max-width: 130px;
    }

    .moreButton {
        font-size: 20px;
    }

    .userAvatar {
        margin-top: 15px;
        margin-left: 20px !important;
    }
}
