.avatar {
    background: #1890ff;
}

.header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 24px;
    width: 100%;
    z-index: 100;
}

.headerTitle {
    color: #5f6368;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    text-transform: capitalize;
}

@media (min-width: 576px) {
    .headerTitle {
        font-size: 24px;
    }
}

.nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav > .navItem {
    margin-left: 16px;
}

.navDropdown {
    min-width: 110px;
}

.navDropdown i {
    margin-right: 8px;
    margin-left: 8px;
}

.navItem {
    display: flex;
}

.menu {
    line-height: 64px;
}

.userName {
    margin-left: 8px;
}

.tag {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0;
    min-width: 32px;
}

@media (max-width: 800px) {
    .hideMobile,
    .navItem .hideMobile {
        display: none;
    }
}
