.closeOverlayButton {
    display: flex;
    font-size: 32px;
    justify-content: center;
    margin-top: 64px;
    width: 100%;
    z-index: 9999;
}

.loadingIcon {
    font-size: 40px;
}

.overlay {
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease;
    width: 100vw;
    z-index: 999;
}

.overlay div {
    background-color: rgba(66, 133, 244, 0.988) !important;
}

.overlay * {
    color: white !important;
    opacity: 1;
}
